.mainDiv {
  /* outline: 1px solid red; */
  position:absolute;
  left:0;
  right:0;
}

.prayerList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px; 
}